@font-face {
  font-family: 'Nexa-Heavy';
  src: url('../public/Nexa-Heavy.ttf');
}

@font-face {
  font-family: 'Nexa-Light';
  src: url('../public/Nexa-ExtraLight.ttf');
}

:root {
  font-family: 'Nexa-Light';
  color: rgb(36, 36, 36);
  background-color: rgb(245, 245, 245);
}

.hide {
  display: none;
}